--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
streamlit
ultralytics
boto3
Pillow
pillow-heif
streamlit-drawable-canvas
opencv-python-headless
